Your change from the money changer is <%= change%>.
<br>
<br>
Quarters = <%=change[:quarter]%>.
<br>
<br>
Dimes = <%=change[:dime]%>.
<br>
<br>
Nickels = <%=change[:nickel]%>.
<br>
<br>
Pennies = <%=change[:penny]%>.
<br>
<br>
<a href ="/"> Enter your next amount of money </a>
